<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>366164701221-q8h5cru69ed61440dgat5sld60a7tp19.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.366164701221-q8h5cru69ed61440dgat5sld60a7tp19</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>366164701221-9e41nmj0vhiqhgdpe2qebfdp91pht6ln.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAGRZEU549-HodruqbZ4LiieyT4g_eLYlQ</string>
	<key>GCM_SENDER_ID</key>
	<string>366164701221</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>re.nils.flutterMacosFlavors</string>
	<key>PROJECT_ID</key>
	<string>sharezone-debug</string>
	<key>STORAGE_BUCKET</key>
	<string>sharezone-debug.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:366164701221:ios:f204018d661b0cfcbfcfcc</string>
	<key>DATABASE_URL</key>
	<string>https://sharezone-debug.firebaseio.com</string>
</dict>
</plist>